*.pt
*ubyte
*.npz
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc
*.png
*.zip
*.pyc
*.svg
*.pth
.DS_Store
settings.json

*en-US.txt

data/results/*
data/data.csv
data/dummy_*

plots/*